*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.text {
    color: #000;
    position: relative;
}

.text:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    opacity: 0;
    transition: all .3s linear;
}

.text:hover:after { 
    opacity: 1;
    transform: translateY(8px);
}